<header class="header header-2">
    <div class="branding">
        <span class="title">QuickPoll</span>
    </div>
    <div class="header-actions">
        <a class="nav-link" (click)="openQuestion()">
            <span><clr-icon shape="plus"></clr-icon>Question</span>
        </a>
        <a class="nav-link" routerLink="/">
            Reload
        </a>
        <a class="nav-link" routerLink="/user">
            Login
        </a>
    </div>
    <div class="search">

    </div>
</header>
<app-question-form ></app-question-form>