<div class="card">
    <div class="card-header">
        <h4 class="title">{{question.question}}</h4>
    </div>
    <div class="card-block">
        <div class="card-text">
            <ul>
                <li *ngFor="let option of question.options">{{option.value}}</li>
            </ul>
            <span class="nav-footer">Posted {{created|date:'medium'}}</span>        
        </div>
    </div>
    <div class="card-footer">
        <Button class="btn btn-icon">
            <cds-icon shape='pencil'></cds-icon>
        </Button>
        <Button class="btn btn-icon btn-danger">
            <cds-icon shape='trash'></cds-icon>
        </Button>
    </div>
</div>
